<!doctype html>
<html ng-app="restaurant">
<head>
    <!-- Latest compiled and minified CSS -->

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>

    <link rel="stylesheet" href="../static/css/main.css">
    <!-- Latest compiled and minified JavaScript -->
</head>

<body>
<div ng-controller="ReviewController as rev">
    <p><a href ng-click="rev.getReviews(1)">Test</a>
    <p ng-model="rev.siz">{{rev.siz}}</p>
    </p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="../static/js/app.js"></script>
</body>
</html>
