<!doctype html>
<html>
{% extends "navbar-restaurantdetails.html" %}
{% block restaurant_details %}

        <h3>{{restaurant.name}} - Delete</h3>
            </div>
            <p>Are you sure you want to delete this restaurant?</p>
            <form action="{{url_for('restaurants_delete', restaurant_id = restaurant.id)}}" method='POST'>
                <p>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    <input type='submit' value='Delete' class="btn btn-primary pull-left">
                    <a href="{{url_for('restaurants_page')}}" class="btn btn-link">Cancel</a>
                </p>
            </form>

{% endblock %}
