<!doctype html>
<html>
    {% extends "navbar-menu.html" %}
    {% block menu_content %}

            <h3>Edit item {{menu_item.name}} for {{restaurant.name}}</h3>
            <!-- how can i give this path without the "../../" ? -->
            {% if menu_item.image.image_path is defined %}
            <img src="../../{{menu_item.image.image_path}}">
            {% endif %}
        </div>
        <div class = "col-md-12 col-xs-12 align_center details form-group">
            <p>Fill out the details of this menu item:</p>
            <form action="{{url_for('menu_item_edit', restaurant_id = restaurant.id, menu_id = menu_item.id)}}" method='POST' enctype="multipart/form-data">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                <p>Name<input class='form-control' type='text' size='30' name='name' value='{{menu_item.name}}' disabled></p>
                <p>Description<input class='form-control' type='text' size='30' name='description' value='{{menu_item.description}}'></p>
                <p>Price<input class='form-control' type='text' size='30' name='price' value='{{menu_item.price}}'></p>
                <p>Course:</p>
                <input type='radio' name='course' value='Appetizer' {% if menu_item.course == 'Appetizer' %} checked {% endif %}>Appetizers<br>
                <input type='radio' name='course' value='Entree' {% if menu_item.course == 'Entree' %} checked {% endif %}>Entree<br>
                <input type='radio' name='course' value='Dessert' {% if menu_item.course == 'Dessert' %} checked {% endif %}>Dessert<br>
                <input type='radio' name='course' value='Beverage' {% if menu_item.course == 'Beverage' %} checked {% endif %}>Beverage<br>
                <br>
                <p>Upload new picture: <input type="file" name="file"></p>
                <p>Picture Title: <input class='form-control' type='text' size='30' name='img_name' value=''></p>
            

                <p><input type='submit' value='Edit' class="btn btn-primary pull-left"><p>
                <p><a href="{{url_for('restaurant_menu', restaurant_id = restaurant.id)}}" class="btn btn-link">Cancel</a>
                </p></p>
                </p></form>
        </div>

{% endblock %}
