<!-- navbar template -->
<!doctype html>
<html ng-app="restaurants">

  
{% extends "navbar-restaurants.html" %}
{% block restaurant_content %}
  <div class ="container">
    <header class="heading col-md-12">
      <h2>Welcome to our favorite local restaurants!</h2>
    </header>

    <main class="body col-md-12">
      {% for restaurant in restaurant_list %}

        <section class="restaurantPanel col-md-12 col-xs-12">
          <!-- This is where the Restaurant name and tags go -->
          <article class="row align_center">
            <div class="heading col-md-12">
              <div class="row">
                <div class="col-md-12 col-xs-12 align_center">
                  <h3><a href="{{url_for('restaurantMenu', restaurant_id=restaurant.id)}}">{{restaurant.name}}</a></h3>
                  <p><a href="{{restaurant.web}}" target="_blank">{{restaurant.web}}</a></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10 col-xs-6">
                  <p><em>
                  {% for tag in tag_list[restaurant.id] %}
                      {{tag.tag_name}},
                  {% endfor %}</em></p>
                </div>
                <div class="col-md-2 col-xs-6">
                  {% if user_info is not none %}
                  <p align="right"><em><a href="{{url_for('restaurantsEdit',restaurant_id=restaurant.id)}}">Edit</a>
                  {% if user_info.email == restaurant.user.email %}
                    &nbsp<a href="{{url_for('restaurantsDelete',restaurant_id=restaurant.id)}}">Delete</a></em>
                  {% endif %} 
                  </p>
                  {% endif %}
                </div>
              </div>
            </div>
          </article>

          <!-- This is the section where the panel goes - select between Description, Reivew, and Map for the restaurant -->
          <article class="options row align_center" ng-controller="PanelController">
            <div class="col-md-12 col-xs-12 align_center">
              <ul class="nav nav-tabs panel-nav">
                <li ng-class="{active:isSelected(1)}"><a href ng-click="selectTab(1);">Description</a></li>
                <li ng-class="{active:isSelected(2)}"><a href ng-click="selectTab(2); getReviews('{{restaurant.id}}')">Reviews</a></li>
                <li ng-class="{active:isSelected(3)}"><a href ng-click="selectTab(3); getMap('{{restaurant.address}}', '{{restaurant.id}}')">Map</a></li>
                <li ng-class="{active:isSelected(4)}"><a href ng-click="selectTab(4); addSlides('{{restaurant.id}}')">Images</a></li>
              </ul>
              
              <div class="details row align_center">
                <!-- Description Section -->
                <div ng-show="isSelected(1)">
                  <p>{{restaurant.description}}</p>
                  <p>The best dish as voted is 
                  {% if top_menu_items[restaurant.name] is defined %}
                  	{{top_menu_items[restaurant.name]}}
                  {% else %}
                  	not decided yet, go vote!
                  {% endif %} </p>
                  <p class='user_name_text'>Added by: {{restaurant.user.name}}</p>
                </div>

                <!-- Reviews Section -->
                <div class="col-md-12" ng-show="isSelected(2)">
                  <div id="show-reviews">
                    <ul class="list-group">
                      <li ng-repeat="x in reviews" class="list-group-item">
                        <h4 class="list-group-item-heading">[[x.reviewer_name]]</h4>
                        <!-- TODO: Better parse Timestamps -->
                        <p class="list-group-item-text time_text">
                        	@ [[x.time]] UTC
                        </p>
                        <br>
                        <p class="list-group-item-text">
                          [[x.stars]] Stars
                          <br><em>[[x.review]]</em>
                        </p>
                      </li>
                    </ul>
                  </div>
                  <!-- Review Section: Add review -->
                  {% if user_info is not none %}
                  <button class="btn btn-default" type="submit" ng-click="showReviewToggle()" ng-model="add_cancel">[[add_cancel]]</button>
                  <div id="add-review" ng-show="showReviewOn()">
                    <form name="reviewForm" method='post' ng-submit="addNewReview('{{restaurant.id}}')" novalidate>
                      <h4>Submit a reivew: </h4>
                      <fieldset class="form-group">
                        <select ng-model="review.stars" ng-options="stars for stars in [5,4,3,2,1]" title="Stars" name="Stars" required>
                          <option value="">Rate the Restaurant</option>
                        </select>
                      </fieldset>
                      <fieldset class="form-group">
                        <textarea class="form-control" ng-model="review.review" size='30' rows='5' placeholder="Write a short review of the restaurant..." title="Body" name="Body" required></textarea>
                      </fieldset>
                      <fieldset class="form-group">
                        <input type="submit" class="btn btn-primary" value="Submit Review" ng-click="showReviewToggle()">
                      </fieldset>
                    </form>
                  </div>
                {% else %}
                  <p>Please <a href="{{url_for('showLogin')}}">log-in</a> to post a review</p> 
                {% endif %}
                </div>
                
                <!-- Map Section -->
                <div ng-show="isSelected(3)" class="subdetails" id="{{restaurant.id}}">
                
                </div>

                <!-- Image Section -->
                <div ng-show="isSelected(4)">
  				  <div class="carousel-image">
    			    <carousel interval="myInterval">
      				  <slide ng-repeat="slide in slides" active="slide.active">
        				<img ng-src="[[slide.image_path]]" style="margin:auto;">
        				<div class="carousel-caption">
          				  <h4>Slide [[$index]]</h4>
          				  <p>[[slide.user_name]]</p>
          				  <p>[[slide.user_email]]</p>
        				</div>
      				  </slide>
    				</carousel>
    				<button type="button" class="close" aria-label="Close" ng-click="removeTag(tag)" value="Delete">
                      <span aria-hidden="true">&times;</span>
                    </button>
  				  </div>
  				  <div class="row">
    				<div class="col-md-3">
      				  Add a new image:   
      				</div>
    				<div class="col-md-3">
      				  <form action="{{url_for('uploadFile', restaurant_id=restaurant.id)}}" method="post" enctype="multipart/form-data">
     					 <p>
     					 	<input type="file" name="file">
         					<br><input type="submit" value="Upload" class="btn btn-info">
         				 </p>
    				  </form>
    				</div>
  				  </div>
                </div>
              </div>
            </div> 
            <p class="time_text">
	          Last updated: {{restaurant.last_update}} UTC
          	</p>
          </article>

        </section>
    {% endfor %}

    </main>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="../static/js/ui-bootstrap-custom-0.13.0.js"></script> 
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
 
  <script src="../static/js/restaurant_app.js"></script>


{% endblock %}