<!-- navbar for restaurant menu page -->
{% extends "navbar-template.html" %}
{% block content %}
    	<a class="navbar-brand" href="{{url_for('restaurant_menu', restaurant_id = restaurant.id)}}">Back to {{restaurant.name}}'s page</a>
    </div>
    <div class="navbar-header navbar-right">
    {% if user_info is not none %}
      <a class="navbar-brand" href="#"> Welcome, {{user_info.name}}</a>
      <a class="navbar-brand" href="{{url_for('log_out')}}">Log Out</a>
    {% else %}
      <a class="navbar-brand" href="{{url_for('show_login')}}">Log In</a>
    {% endif %} 
    </div>
   </nav>
<div class ="container">
    <div class="col-md-12 col-xs-12 restaurantPanel">
        <div class="row align_center">
            <div class="heading align_center">
{% block menu_content %}

{% endblock %}

{% endblock %}
</div>
</div>
</div>
</div>