<head>
  <!-- Bootstrap v 3.1.1 works best with Angular bootstrap, added further below -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- AngularJS from CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <!-- Bootstrap + Angular from CDN -->
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script> 
  <!-- Google Maps CDN -->
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
  <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>  
  <header class="navbar" role="banner">
    <div class="container col-md-12 align_center">
      <div class="row">
        <div class="col-md-12 align_center">
          <h1 class="text-center">Local Favorites</h1>
        </div>
      </div>
    </div>
  </header>

  <nav class="container-fluid col-md-12 align_center navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{url_for('restaurants_page')}}">Home</a>
      
    {% block content %}

    {% endblock %}
  

</body>
</html>