<!-- navbar for restaurant menu page -->
{% extends "navbar-template.html" %}
{% block content %}
    <a class="navbar-brand" href="{{url_for('restaurants_page')}}">Back to Restaurant's page</a>
  </div>
  <div class="navbar-header navbar-right">
    {% if user_info is not none %}
      <a class="navbar-brand" href="#"> Welcome, {{user_info.name}}</a>
      <a class="navbar-brand" href="{{url_for('log_out')}}">Log Out</a>
    {% else %}
      <a class="navbar-brand" href="{{url_for('show_login')}}">Log In</a>
    {% endif %} 
  </div>
</nav>

  <!--MESSAGE FLASHING EXAMPLE -->
  {% with messages = get_flashed_messages() %}
  {% if messages %}

    <ul>
    {% for message in messages %}
      <li><strong>{{message}}</strong></li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}

{% block restaurant_details %}

{% endblock %}

{% endblock %}
