<!doctype html>
<html>

{% extends "navbar-restaurantdetails.html" %}
{% block restaurant_details %}
  <div class ="container">
    <header class="heading col-md-12">
      <h2>Menu for {{restaurant.name}}</h2>
    </header>
    {% for image in images_list %}
    {{image.image_title}}
    {% endfor %}
    <main class="body col-md-12">
        <section class="restaurantPanel col-md-12 col-xs-12">
          <!-- This is where the Restaurant name and tags go -->
          <article class="row align_center">
            <div class="heading col-md-12">
              <div class="row">
                <div class="col-md-12 col-xs-12 align_center">
                  <h3>Appetizers</h3>
                </div>
              </div>
            </div>
          </article>

          <!-- This is where all the appetizers go -->
          {% for item in menu_list %}
          {% if item.course == "Appetizer" %}
          <article class="options row align_center">
          <div class="row">
          	<div class="row">
        	  	<div class="col-md-3 menu-item-container">
        	  		<img src="../../{{item.image.image_path}}" class="menu-item-images">
        	  	</div>
              <div class = "col-md-7">
              			{{item.name}}
              			<br>
		                {{item.description}}
		                <br>
		                <p class='user_name_text'>Added by: {{item.user.name}}</p> 
		                <!-- If the user is logged in, let him edit the item, and if the user created the item let them delete it -->
		                {% if user_info is not none %}
		                <a href="{{url_for('menuItemEdit', restaurant_id = restaurant.id, menu_id = item.id)}}">edit</a> 
		                {% if user_info.email == restaurant.user.email %}<a href="{{url_for('menuItemDelete', restaurant_id = restaurant.id, menu_id = item.id)}}">delete</a>
		                {% endif %}
		                {% endif %}
			  </div>

	          <div class = "col-md-1">
	        	<form action="{{url_for('voteForItem', item_id = item.id, vote = 1)}}">
	            	<button type='submit' class="btn btn-success">{{item.likes}} <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
	        	</form>
	          </div>
	          <div class = "col-md-1">
	        	<form action="{{url_for('voteForItem', item_id = item.id, vote = 2)}}">
		            <button type='submit' class='btn btn-danger'>{{item.dislikes}} <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></button>
		        </form>
        	  </div>
        	  
          </div>
          </article>

          {% endif %}
          {% endfor %}
        </section>
        <section class="restaurantPanel col-md-12 col-xs-12">
        <!-- This is the section for the Entrees -->
          <article class="row align_center">
            <div class="heading col-md-12">
              <div class="row">
                <div class="col-md-12 col-xs-12 align_center">
                  <h3>Entrees</h3>
                </div>
              </div>
            </div>
          </article>

          <!-- The entree items are listed here -->
          {% for item in menu_list %}
          {% if item.course == "Entree" %}
          <article class="options row align_center">
            <div class="row">
              <div class="col-md-3 menu-item-container">
    	  		<img src="../../{{item.image.image_path}}" class="menu-item-images">
    	  	  </div>    	  
              <div class = "col-md-7">
		                {{item.name}}
              			<br>
		                {{item.description}}
		                <br>
		                <p class='user_name_text'>Added by: {{item.user.name}}</p> 
		                <!-- If the user is logged in, let him edit the item, and if the user created the item let them delete it -->
		                {% if user_info is not none %}
		                <a href="{{url_for('menuItemEdit', restaurant_id = restaurant.id, menu_id = item.id)}}">edit</a> 
		                {% if user_info.email == restaurant.user.email %}<a href="{{url_for('menuItemDelete', restaurant_id = restaurant.id, menu_id = item.id)}}">delete</a>
		                {% endif %}
		                {% endif %}
			  </div>

	          <div class = "col-md-1">
	        	<form action="{{url_for('voteForItem', item_id = item.id, vote = 1)}}">
	            	<button type='submit' class="btn btn-success">{{item.likes}} <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
	        	</form>
	          </div>
	          <div class = "col-md-1">
	        	<form action="{{url_for('voteForItem', item_id = item.id, vote = 2)}}">
		            <button type='submit' class='btn btn-danger'>{{item.dislikes}} <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></button>
		        </form>
        	  </div>

          </div>
          </article>
          {% endif %}
          {% endfor %}
        </section>
        <section class="restaurantPanel col-md-12 col-xs-12">
          <!-- This is where all the desserts go -->
          <article class="row align_center">
            <div class="heading col-md-12">
              <div class="row">
                <div class="col-md-12 col-xs-12 align_center">
                  <h3>Desserts</h3>
                </div>
              </div>
            </div>

          </article>

          <!-- the dessert items are listed here -->
          {% for item in menu_list %}
          {% if item.course == "Dessert" %}
          <article class="options row align_center">
          	<div class="row">
        	  	<div class="col-md-3 menu-item-container">
        	  		<img src="../../{{item.image.image_path}}" class="menu-item-images">
        	  	</div>
              <div class = "col-md-7">
		                {{item.name}}
              			<br>
		                {{item.description}}
		                <br>
		                <p class='user_name_text'>Added by: {{item.user.name}}</p> 
		                <!-- If the user is logged in, let him edit the item, and if the user created the item let them delete it -->
		                {% if user_info is not none %}
		                <a href="{{url_for('menuItemEdit', restaurant_id = restaurant.id, menu_id = item.id)}}">edit</a> 
		                {% if user_info.email == restaurant.user.email %}<a href="{{url_for('menuItemDelete', restaurant_id = restaurant.id, menu_id = item.id)}}">delete</a>
		                {% endif %}
		                {% endif %}
			  </div>

	          <div class = "col-md-1">
	        	<form action="{{url_for('voteForItem', item_id = item.id, vote = 1)}}">
	            	<button type='submit' class="btn btn-success">{{item.likes}} <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
	        	</form>
	          </div>
	          <div class = "col-md-1">
	        	<form action="{{url_for('voteForItem', item_id = item.id, vote = 2)}}">
		            <button type='submit' class='btn btn-danger'>{{item.dislikes}} <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></button>
		        </form>
        	  </div>
              	  	
          </div>
          {% endif %}
          {% endfor %}
          </article>
        </section>

        <section class="restaurantPanel col-md-12 col-xs-12">
          <!-- This is where all the beverages go -->
          <article class="row align_center">
            <div class="heading col-md-12">
              <div class="row">
                <div class="col-md-12 col-xs-12 align_center">
                  <h3>Beverages</h3>
                </div>
              </div>
            </div>
          </article>

          <!-- the beverage items are listed here -->
          {% for item in menu_list %}
          {% if item.course == "Beverage" %}
          <article class="options row align_center">
          <div class="row">
        	  <div class="col-md-3 menu-item-container">
        	  	<img src="../../{{item.image.image_path}}" class="menu-item-images">
        	  </div>
              <div class = "col-md-7">
		                {{item.name}}
              			<br>
		                {{item.description}}
		                <br>
		                <p class='user_name_text'>Added by: {{item.user.name}}</p> 
		                <!-- If the user is logged in, let him edit the item, and if the user created the item let them delete it -->
		                {% if user_info is not none %}
		                <a href="{{url_for('menuItemEdit', restaurant_id = restaurant.id, menu_id = item.id)}}">edit</a> 
		                {% if user_info.email == restaurant.user.email %}<a href="{{url_for('menuItemDelete', restaurant_id = restaurant.id, menu_id = item.id)}}">delete</a>
		                {% endif %}
		                {% endif %}
			  </div>

	          <div class = "col-md-1">
	        	<form action="{{url_for('voteForItem', item_id = item.id, vote = 1)}}">
	            	<button type='submit' class="btn btn-success">{{item.likes}} <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
	        	</form>
	          </div>
	          <div class = "col-md-1">
	        	<form action="{{url_for('voteForItem', item_id = item.id, vote = 2)}}">
		            <button type='submit' class='btn btn-danger'>{{item.dislikes}} <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></button>
		        </form>
        	  </div>
          </div>


          {% endif %}
          {% endfor %}
          </article>
		</section>

		<form action="{{url_for('menuItemNew', restaurant_id = restaurant.id)}}" >
	  		<button type='submit' class="btn btn-default btn-lg active" value="New Menu Item">Create New Item</button>
		</form>
    </main>
  </div>

{% endblock %}
